button{color:#870000; width: 400px; font-size: 40px; background-color: yellow; height: 250px; border:4px dotted black; transition: 0.8s}
ul{border: 4px dotted black; color:#870000; background-color: yellow}
button:hover{color: yellow; background-color: #870000; font-size: 50px}

@media (min-width: 720px) {
  ul:active{border: 4px dotted green;}
}
