body {
  background: white;
}
button:hover {
  background-color: black;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: red;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: red;}
  50% { background-color: #FF0000; }
  100% { background-color: #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; }
  50% { background-color: #FF0000; }
  100% { background-color: #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; }
  50% { background-color: #FF0000;}
  100% { background-color: #B20000;}
}

@keyframes glowing {
  0% { background-color: #B20000;}
  50% { background-color: #FF0000;}
  100% { background-color: #B20000;}
}
