table { width: 50%;
  margin-left: 25%;
  font-size: 20px;
  margin-top: 30px;

}


th, td {text-align: center;
}






button {
  width: 400px;
  height: 250px;
  font-size: 40px;
transition: 0.8s;
background-color: yellow;
color: #990000;

}


@media (min-width: 720px) { button:hover {
background-color:#990000;
color: yellow;
  font-size: 50px;
}
}
