img {
  width: 120px
}
 table {
   width: 50%;
   margin-left: 25%;
   font-size: 20px;
   margin-top: 30px;
 }

th, td {
  text-align: center;
}




a:visited{
  color: red
}

button {
  transition: 1s;
}






@media (min-width: 720px) { button:hover {
  color: red;
  font-size: 60px;
} }
